*{
	margin:0;
	padding:0;
	
	color:#f7f7f7;
	font-family: sans-serif;
}
.container{
	background-color: #242423;
	max-width: 100%;
	
}
#welcome{
	text-align: center;
	margin:5% 0;
}
header{
	background-color: #242423;
	color:#E5EAFA;
	text-align: center;
	font-size: 45px;
}
.room{
	margin:3% 0;
	text-align: center
}
ul{
	list-style: none;
	text-align: center;
}
ul li{
	margin:20% 0 ;
}
.h3{
	font-size: 40px;
	color:#BF4E30;
	font-weight: bold;
	text-align:center;
}

hr{
	background-color:#F5CB5C;
}

#roomTwo, #roomThree{
	display: 
}
.col-9{
	margin:0 auto;
}



            /* Question Styling */

#questionTwo, #questionThree, #questionFour{
	visibility: hidden;
}


.questionText{
	font-size: 
}
.question{
	font-size: 30px;
	margin:5% 0;
}
input{
	width:400px;
	margin: 0 auto;
}