*{
	
	
	
	
}
html{
	margin: 0 !important;
    padding: 0 !important;
   
}
body {    
 	
}
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.header li {
  float: left;
  margin:0 1%;

}

.header li a {
  display: block;
  color:#F5742B;
  text-align: center;
 
  text-decoration: none;
}
.header a{
	 margin:0 1%;
}
.title{
	color:black;
	font-size: 2em;
}
.row{
	overflow: inherit;
	padding:2% 0;

	margin: 0 !important;
	background: #eaeaea;
}
.header{
	
	background-color: #FBFBFB;
}
.jumbotron {
  color: white;
  background-image: url("/images/header1.png");/*url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.jumboText{
    background:rgba(255,255,255,0.6);
    font-size:1.5em;
   
}
.aboutMe h3{
	font-size: 3vh;
	color:#333;
	text-align: center;
}
.aboutMe h1{
	font-size: 4vh;
	text-align: center;
	color:#222;
}
ul{
	list-style: none;
}
.informationarea h3{
	text-align: center;
	color:#333; 
}
.educationlist li b, .skillList li b{
	color:#333; 
}
.educationList li{
	text-align: center;
	color:#333; 
	margin:2% 0;
}
.eduTitles{
	color:#333;
}
.skills h3 {
	text-align: center;
}
.skills ul{
	padding: 0;
}
.proj-h3{
	color:#333;
	text-align: center;
	padding:  0 0 1em 0
}
.projectList h4{
	color:#333;
}

.projectList a{
	color:#333;
}
.projectList a:hover{
	color:#F5742B;
	text-decoration: none;
}
.projectList .projectItem:hover {
	background-color: #d6d6d6;
}

.projectItem{
	padding: 2% 1%;
	margin-bottom: 3%;
}

.footer{
	background: #333333;
	color:white;
}
.footer a{
	color:#F5742B;
}
.footer a:hover{
	color:#999;
}