*{
	margin:0;
	padding:0;
	
	color:#f7f7f7;
	font-family: sans-serif;
}

.container{
	background-color: #242423;
	max-width: 100%;

	
}
.header{
	background: #242423;

	border-bottom: 3px solid #BF4E30;
}
#welcome{
	text-align: center;
	margin:5% 0;
}
header{
	background-color: 
	color:#E5EAFA;
	text-align: center;
	font-size: 45px;
}
.room{
	margin:3% 0;
	text-align: center;
	background-color: #242423;
}
ul{
	list-style: none;
	text-align: center;
}
ul li{
	margin:20% 0 ;
}
.h3{
	font-size: 40px;
	color:#BF4E30;
	font-weight: bold;
	text-align:center;
}

hr{
	background-color:#F5CB5C;
}

#roomTwo, #roomThree{
	display: 
}
.col-9{
	margin:0 auto;
}



            /* Question Styling */

#questionTwo, #questionThree, #q3Title, #questionFour, #questionFive, #roomTwo{
	visibility: hidden;
}


.questionText{
	font-size: 
}
.question{
	font-size: 30px;
	margin:5% 0;
}
.form-group{
	margin:0 auto;
}
input{
	width:100px;
	text-align: center;
	margin: 2% auto;
	float:none;
}

.emoji-li{
	width:33.3%;
}

.green-glow{
	border:4px solid #4dcc7d;
	box-shadow: 0 0 10px #31b43a;
}
.red-glow{
	border:4px solid #fc121b;
	box-shadow: 0 0 10px #d01115;
}