/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');

/*-------------------------------------*/
*{
	margin:0;
	padding:0;
	
	color:#f7f7f7;
	
}
html{
	background: yellow;
}

.container{
	background-color:#242423 ;
	background-image: url('../images/grunge1.png');
	background-repeat: repeat;
	height:100%;
	max-width: 100%;
	
	
}
article{
	font-size: 35px;
	font-weight:700;
	font-family: 'Josefin Slab', serif;
}

.stopwatch{
	text-align: center;
	
	margin:0 auto;
}
.stopwatch button{
	border-radius: 50%;
	padding:2%;
	background-color: red;
	border:2px white solid;
}
.stopwatch h1{
	
}
.row{

	/*background-color: #242423;*/
}
.header{
	background:#0c0c0c;
	background-image: url('../images/grunge_head.png');
	border-bottom: 3px solid #BF4E30;
}

.header img{
	width:100%;

}
.stopwatch p {
	font-size: 70px;
	font-weight: 200;
}
#welcome{
	text-align: center;
	margin:5% 0;
}
header{
	background-color: 
	color:#E5EAFA;
	text-align: center;
	font-size: 45px;
}
.room{
	margin:3% 0;
	text-align: center;
	
}
ul{
	list-style: none;
	text-align: center;
}
ul li{
	margin:20% 0 ;
}
.h3{
	font-size: 40px;
	color:#BF4E30;
	font-weight: bold;
	text-align:center;
}

hr{
	background-color:#F5CB5C;
}

#roomTwo, #roomThree{
	display: 
}
.col-9{
	margin:0 auto;
}



            /* Question Styling */

#questionTwo, #questionThree, #q3Title, #questionFour, #questionFive, #roomTwo, #roomThree{
	/*visibility: hidden;*/
	display:none;
}


.questionText{
	font-size: 
}
.question{
	font-size: 30px;
	margin:5% 0;
}
.form-group{
	margin:0 auto;
}
input{
	width:100px;
	text-align: center;
	margin: 2% auto;
	float:none;
}

.emoji-li{
	
}

.green-glow{
	border:4px solid #4dcc7d;
	box-shadow: 0 0 10px #31b43a;
}
.red-glow{
	border:4px solid #fc121b;
	box-shadow: 0 0 10px #d01115;
}




/* -------------------FOOTER---------------------- */

footer{
	background: green;
}